.wrapper {
    margin: 0 1.5em;
    margin-top: clamp(8em, 15vw, 15em);
    padding: clamp(1.5em, 2vw, 2.5em);
    border-radius: clamp(0.5em, 2vw, 1em);
    max-width: 37.5em;
    background-color: var(--clr-white);
    box-shadow: 0 40px 35px var(--clr-box-shadow);
}

.title {
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.title-icon {
    content: url("./assets/images/icon-star.svg");
    width: 0.75em;
    height: 0.75em;
}

.accordion {
    background-color: var(--clr-white);
}

.accordion-item:not(:first-child) {
    padding-top: clamp(1em, 2vw, 1.5em);
}

.accordion-item:not(:last-child) {
    padding-bottom: clamp(1em, 2vw, 1.5em);
    border-bottom: 2px solid var(--clr-purple-100);
}

.accordion-item_header {
    width: 100%;
    border: 0;
    outline: 0px solid var(--clr-white);
    background-color: var(--clr-white);
    padding: 0;
    font-size: clamp(1rem, 2vw, 1.1rem);
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.accordion-item_header:hover {
    color: var(--clr-eggplant);
}

.header {
    font-weight: var(--fw-semibold);
    line-height: 1.1;
    text-align: left;
}

.toggle {
    transition: content 0.5s ease-in-out;
}

.accordion-item .toggle {
    content: url("./assets/images/icon-plus.svg");
}

.accordion-item.active .toggle {
    content: url("./assets/images/icon-minus.svg");
}

.accordion-item_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.accordion-item.active .accordion-item_body {
    height: auto;
    max-height: 300px;
    transition: max-height 0.5s ease-in-out;
}

.content {
    color: var(--clr-purple-600);
    font-size: clamp(0.9em, 2vw, 1em);
    line-height: 1.25;
    padding-top: clamp(1em, 2vw, 1.5em);
}

@media (min-width: 50em) {
    .title {
        margin-bottom: 0.5em;
    }

    .accordion-item_header {
        gap: 0;
    }
}