:root {
    /* Colours */
    --clr-white: hsl(0, 100%, 100%);
    --clr-eggplant: hsl(281, 83%, 54%);
    --clr-purple-100: hsl(275, 100%, 97%);
    --clr-purple-600: hsl(293, 16%, 49%);
    --clr-purple-950: hsl(292, 42%, 14%);
    
    /* Alphas */
    --clr-box-shadow: hsla(292, 42%, 14%, 0.1);

    /* Typography */
    --ff-base: "Work Sans", sans-serif;
    --fs-base: 16px;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General Styles  */
body {
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    line-height: 1;

    color: var(--clr-purple-950);
    background-color: var(--clr-purple-100);


    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

@media (min-width: 50em) {
    body {
        background-image: url("./assets/images/background-pattern-desktop.svg");
    }
}
